 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.movie-list
{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  justify-content:space-between;
}

.counters-container
{
display:flex;
gap:100px;

} 

.like-button,.dislike-button
{
  font-size:24px;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  /* background-color: orange; */
  width: 340px;

}

.movie-poster {
  width: 340px;
  height: 500px;
  object-fit: cover;
}

.movie-name {
  font-size: 24px;
  margin: 0;
  justify-content: left;
}
.add-movie-form
{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:24px;
}
.movie-summary {
  margin-top: 0;
}

.movie-rating {
  font-size: 18px;
  justify-content: left;
}
.movie-summary
{
  margin-top:0;

}

.movie-rating{
  font-size: 10px;
}
.movie-list
{
  display:flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: space-around;
}
.add-movie-form
{
  display:flex;
  flex-direction:column;
  gap:10px;
  padding:24px;
}
.not found
{
  width:100%;
  max-height:700px;
  object-fit:contain;
}
.movie-detail-container
{
max-width:500px;
}